/* nav bar */
.home {
  background-image: url("./images/backgroundClouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.nav {
  background-color: #033148;
  padding: 0px 10px;
}

.navtitle a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navtitle img {
  margin: 10px;
  height: 40px;
}

.navtitle h1 {
  font-size: 30px;
  color: #56c7e6;
}

.container {
  margin: 50px 20%;
  background-color: #033148;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.weather-app {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.weather-info {
  margin-top: 20px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.weather-details p {
  margin: 5px;
}
